.text-limit-one {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-limit-two {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.no-underline:hover {
    text-decoration: none;
    color: default;
}

.darken:hover {
    background-color: #F9F9F9;
}

.darken:hover .darken-child {
    background-color: #F9F9F9;
}