.agency-logo {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 100px;
}

.agency-img {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 200px;
}

.pagination {
    display: flex;
    justify-content: center;
}