.pagination {
    display: flex;
    justify-content: center;
}

.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.light-color {
    color: "#f8f9fa";
}

.underline-hover:hover {
    text-decoration: underline;
}

.no-underline:hover {
    text-decoration: none;
    color: default;
}

.fill-width {
    width: 100%;
}

.darken:hover {
    background-color: #F9F9F9;
}

.darken:hover .darken-child {
    background-color: #F9F9F9;
}

.horizontalLine {  
    border: none; 
    border-bottom: 1px solid gainsboro;  
}

.ptr {
    cursor: pointer;
}