.horizontalLine {  
    border: none; 
    border-top: 1px solid gainsboro;  
}

.verticalLine {
    border:none;
    border-right: 1px solid gainsboro;  
}

.fill-width {
    width: 100%;
}

.hover-underline:hover {
    text-decoration:underline;
}

.no-hover:hover {
    text-decoration:default;
    color:default;
}

.no-rounding {
    border-radius: 0px;
}

.text-limit-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.small-text {
    font-size: 15px;
}

.no-underline:hover {
    text-decoration: none;
    color: default;
}

.darken:hover {
    background-color: #F9F9F9;
}

.darken:hover .darken-child {
    background-color: #F9F9F9;
}

.extra-darken:hover {
    background-color: #FFFFFF;
}

.no-focus:focus {
    outline: none !important;
}

.twitter-link {
    color: #2b7bb9;
}

.twitter-link:hover {
    color: #3b94d9;
    cursor: pointer;
}