.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* _______
  FOOTER
___________*/
#splashCreation .SplashCreationContent {
  background:black;
  text-align: center;
  margin-top: 0px;
  padding: 15px 0px 15px 0px;
  color: #ffffff80;
  font: bold 10px/10px Helvetica, Sans-Serif; 
  letter-spacing: 5px; 
}

#splashCreation .SplashCreationContent h2 {
  font: bold 18px/18px Helvetica, Sans-Serif; 
}
#splashCreation .SplashCreationContent h3 {
  font: bold 15px/15px Helvetica, Sans-Serif; 
}

/* ____________
  Splash Screen
______________*/

.MainSplashContent {
  position: relative; 
   width: 100%;
   background-color:#000000;
}

.MainSplashContent img {
  width: 100%;
  height: 85%;
  /* object-fit: cover; */
}

 .MainSplashContent h1 {
    position: absolute; 
    top: 35%; 
    left: 10%; 
    width: fit-content;
}

.MainSplashContent h1 span {
  color: #ffffff; 
  font: bold 50px/50px Helvetica, Sans-Serif; 
  letter-spacing: 10px;  
  padding: 0px;
}

.MainSplashContent h2 {
  position: absolute; 
  top: 39%; 
  left: 10%; 
  width: fit-content;

}

.MainSplashContent h2 span {
  color: #ffffff; 
  font: bold 18px Helvetica; 
  letter-spacing: 4px;  
  padding: 0px;
}

.MainSplashContent button {
  position: absolute; 
  top: 45%; 
  left: 10%;

  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 40px;
  font: bold 18px Helvetica; ;
  cursor: pointer;
  border-radius: 60px;
  letter-spacing: 3px; 

  -webkit-transition-duration: 0.4s; /* Safari */
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.7s;
}

.MainSplashContent button:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: transparent;
}

.SplashMotto {
  text-align: center;
  padding: 10px;
  background: black;
  color: #ffffff80;
}
.SplashMotto h3{
  font-size: 20px;
}

.SplashInfo {
  text-align: center;
  padding: 15px;
}

.SplashInfo h1 span {
  color: #000000; 
  font: bold 40px/50px Helvetica, Sans-Serif; 
  letter-spacing: 10px;  
}

.SplashCards {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
}

/* Image hover stuff. */
/* The container for image*/
.img-hover-zoom {
  height: 1000px; 
  overflow: hidden; /* Hide the overflowing of child elements */
}

/* Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 3s, filter 3s ease-in-out;
  transform-origin: center center;
  /* filter: brightness(100%) ; */

  -webkit-transition: transform 3s, filter 3s ease-in-out;
  -webkit-transform-origin: center center;
  /* -webkit-filter: brightness(100%) ; */

  -moz-transition: transform 3s, filter 3s ease-in-out;
  -moz-transform-origin: center center;
  /* -moz-filter: brightness(100%) ; */

  -o-transition: transform 3s, filter 3s ease-in-out;
  -o-transform-origin: center center;
  /* -o-filter: brightness(100%) ; */

  -ms-transition: transform 3s, filter 3s ease-in-out;
  -ms-transform-origin: center center;
  /* -ms-filter: brightness(100%) ; */

  transform: scale(1.2) rotate(-3deg);
  filter: brightness(0%) blur(10px);

  -webkit-transform: scale(1.2) rotate(-3deg);
  -webkit-filter: brightness(0%) blur(10px);

  -ms-transform: scale(1.2) rotate(-3deg);
  -ms-filter: brightness(0%) blur(10px);

  -moz-transform: scale(1.2) rotate(-3deg);
  -moz-filter: brightness(0%) blur(10px);

  -o-transform: scale(1.2) rotate(-3deg);
  -o-filter: brightness(0%) blur(10px);
}


/* Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1) rotate(0deg);
  filter: brightness(100%) blur(10px);

  -webkit-transform: scale(1) rotate(0deg);
  -webkit-filter: brightness(100%) blur(0px);

  -ms-transform: scale(1) rotate(0deg);
  -ms-filter: brightness(100%) blur(0px);

  -moz-transform: scale(1) rotate(0deg);
  -moz-filter: brightness(100%) blur(0px);

  -o-transform: scale(1) rotate(0deg);
  -o-filter: brightness(100%) blur(0px);
}

/* The Image container */
.img-hover-zoom {
  width: 100%;
  height: 85%;
  overflow: hidden; /* Removing this will break the effects */
}



/* Making image fade in for 15 soconds when page is first launched */

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
  }

  @keyframes fadeIn {
  0% {opacity:0;
  }
  100% {opacity:1;}
}
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  /* ____________
  Nav Bar
______________*/

.cover {
  object-fit: cover;
  width: 100%;
  height: 850px;
}

.nav-style {
  background-color: black; 
}

.nav-style img {
  filter: invert(1);
  margin-right: 14px;
}

.nav-style b {
  letter-spacing: 10px;  
  font: 20px/20px Helvetica, Sans-Serif;
}


.darken:hover {
  background-color: #F9F9F9;
}

.darken:hover .darken-child {
  background-color: #F9F9F9;
}

.text-limit-one {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-limit-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}